
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/custom")
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body class="sidebar-mini layout-fixed">
    <div class="loader-wrapper" id="loader"><div class="loader"></div></div>
    <div class="wrapper">
        @{Html.RenderPartial("~/views/shared/Partial/_header.cshtml");}
        @Html.Partial("~/Views/Shared/partial/_sidebar.cshtml")


        @RenderBody()


        @{Html.RenderPartial("~/views/shared/Partial/_footer.cshtml");}
        @Scripts.Render("~/scripts/theme")
        @Scripts.Render("~/scripts/custom")
        @RenderSection("scripts", required: false)
        <div id="LoaderSMS"></div>

    </div>




    <script>
    var AppURL = "@Common.Utility.Settings.DomainUrl";
    </script>
</body>




</html>
